@import "../../scss/settings";

.header {
    background: linear-gradient(270deg, rgba(60,143,139,1) 0%, rgba(13,180,147,1) 59%, rgba(73,219,203,1) 100%);
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        color: #fff;
        font-size: 20px;
    }
}