@import "../../scss/settings";

.search {
    position: relative;

    &-icon { 
        font-size: 20px;
        color: #bbb;
        position: absolute;
        padding: 10px;
    }

    input {
        width: 100%;
        height: $search-height;
        background-color: transparent;
        border: none;
        text-indent: 50px;
        outline: none;
        font-size: 16px;
    }
}