.contacts-list-element {
    display: flex;
    align-items: center;
    border: 1px solid #bbb;
    padding: 5px;

    img {
        border-radius: 50%;
        border: 1px solid #858585;
    }
}

.element-avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #858585;
    background-color: #bbb;
}

.element-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;

    &-name {
        font-size: 18px;
        font-weight: bold;
    }

    &-email {
        font-size: 12px;
        color: #858585;
        padding-top: 6px;
    }
}